.user-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: rgba(222, 44, 44, 0.8);
    width: 90%;
    font-size: 20px;
    font-family: SF Pro Text Semi Bold;
    text-align: center;
    padding-block: 6px;
    border-radius: 8px;
    z-index: 10;
}
