// Flex
.flex {
    display: flex;
    // Direction
    &.column {
        flex-direction: column;
    }
    // Justify
    &.center {
        justify-content: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.space-around {
        justify-content: space-around;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    // Align
    &.align-center {
        align-items: center;
    }
}
